<!DOCTYPE html>
<html>
    <head>
        <title>Add Game</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}">

        <nav>
            <a href="login.html">Login</a>
            <a href="#">Home</a>
            <a href="catalog.html">Catalog</a>
            <a href="my_reviews.html">My Reviews</a>
        </nav>
</head>
<body class="b">
    
    <h1 class="text">Add Game</h1>
    <div class="button-box">

        <form method="post">
            {% csrf_token %}
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>
            <label for="publisher">Publisher:</label><br>
            <input type="text" id="publisher" name="publisher"><br>
            <label for="published_date">Release Date:</label><br>
            <input type="date" id="release_date" name="release_date"><br><br>
            <input  type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>

